a:hover{
    text-decoration: none;
}

.footer-copyright{
    background:#060606 !important;
    padding: 30px 0 10px;
}
.footer-copyright ul li {
    float: right;
    color: #fff 
}
.footer-copyright ul li a {
    color: #fff !important;
    font-size: 12px;
}
.header-social-icons{
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header-social-icons li {
  display: block;
  padding: 4px;
  margin: 4px;
  transition: all 0.3s ease;
  
}
.facebook{
    background: #3B5998 
}
#header .social-icons-twitter{
     background: #55ACEE 
     }
#header .social-icons-linkedin{
    background:#007bb5
}
#header .social-icons-google-plus{
    background: #dd4b39;
}



.btn-blue{
   background-color:#4c6fcf; 
}
.featured_articles_slider_box {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.featured_articles_slider_box_image {
    width: 100%;
    height: 220px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.featured_articles_slider_box_title {
    position: absolute;
    bottom: 0;
    padding: 15px;
    font-size: 14px;
    text-align: left;
    color: #fff;
    background-color: rgba(0,0,0,0.45);
    width: 100%;
}
.featured_articles_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 15px;
}


.home_special_offer {
    width: 100%;
    float: left;
    height: 360px;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px 0;
    background-color: #fff;
    position: relative;
    box-shadow: 0 2px 7px 0 #cfcfcf80;
}
.home_special_offer .short_info {
    font-size: 17px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    color: #fff;
    background-color:#4c6fcf;
    text-align: center;
}
.home_special_offer .img_container {
    height: 195px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	}

	.home_special_offer_content {
    padding: 10px;
    float: left;
    width: 100%;
	
	}

	.home_special_offer_title h2{
		font-size: 16px;
	}
	.home_special_offer_types {
		color:#4c6fcf;
	}
	.home_special_offer#programs {
    height: 500px;
	
	}
    .home_special_offer p {
    font-size: 14px;
	
	}
    .home_special_offer_content .read_more {
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.home_exceptional_container {
    box-shadow: 0 2px 19px 0 #dddddd80;
    background-color: #f9fcff;
    padding: 20px 0px;
    float: left;
    width: 100%;
}

.home_exceptional_title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1.4px;
    text-align: center;
    color: #184161;
    margin-bottom: 15px;
}
.home_exceptional_desc {
    font-size: 16px;
    letter-spacing: -0.9px;
    text-align: center;
    color: #184161;
    margin-bottom: 45px;
}

.home_exceptional_box {
    border-radius: 5px;
    box-shadow: 0 2px 19px 0 #dddddd80;
    background-color: #ffffff;
    padding: 15px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    min-height: 135px;
}
.home_exceptional_content {
    float: left;
    width: calc(100% - 86px);
    }

.home_exceptional_box_text {
    font-size: 16px;
    color: #0c2b4f;
    float: left;
    width: 100%;
}
.home_exceptional_img {
    float: left;
    margin-right: 15px;
}
.home_exceptional_container {
    box-shadow: 0 2px 19px 0 #dddddd80;
    background-color: #f9fcff;
    padding: 20px 0px;
    float: left;
    width: 100%;
}
.special-offer {
    padding:  15px 0;
    margin: 15px 0;
}
.home_exceptional_box_title{
font-size: 20px;
    color: #4c6fcf;
    font-weight: bold;
    float: left;
    width: 100%;
}
